modules = ["php-8.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["openssl"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Interactive Login"

[[workflows.workflow]]
name = "Interactive Login"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php interactive_login.php"

[workflows.workflow.metadata]
outputType = "console"
